/*trata de mantener la misma estructura que en el archivo HTML*/

body{
    background: #D9D9D9;
}
/*NAV BAR*/
.logo-nav-bar {
    margin-left: 6vw;
}

.items-nav-bar{
    margin-left: 45%;
}

.btn-nav-bar {
    margin-right: 2vw;
}

.mejiasrojas{
    color: #38F54E;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

/*HEADER*/

h3{
    text-align: left;
}

p{
    display: inline-block;
}

/*contenedor del texto*/
.descripcion{
    background: #18171E;
    color: #D9D9D9;
    padding: 3vw 0 0 7vw;
}

.saludo{
    margin: 10vw 0 1vw 0;
    font-size: 3vw;
    font-weight: 400;
}

.skills{
    text-align: left;
    margin-bottom: 1vw;
    color: #38F54E;
    font-size: 3.5vw;
    font-weight: bolder;
}

.textodescripcion{
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 1.2vw;

}

.avatar01 {
    margin-top: 10vw;
    width: 37%;
}

.botones-contacto {
    margin-top: 7vw;
}

#btn-cv{
    background: #38F54E;
    color: #18171E;
    font-weight: bold;
    font-size: 2vw;
    margin-right: 1vw;
    padding: 0.5vw 5vw 0.5vw 5vw;
    border-radius: 0;
}

#btn-linkedin{
    background: #D9D9D9;
    color: #18171E;
    font-weight: bold;
    font-size: 2vw;
    margin-right: 1vw;
    padding: 0.5vw 3vw 0.5vw 3vw;
    border-radius: 0;
}

/*CUERPO DE HOME*/

.cuerpo {
    background: #D9D9D9;
}

.tarjetas {
    padding-top: 3vw;
}

.tarjeta {
    text-align: center;
    border: 2px solid #18171E;
    width: 25%;
    display: inline-block;
    padding: 3vw auto 3vw auto;
}