/*trata de mantener la misma estructura que en el archivo HTML*/

body{
    background: #D9D9D9;
}
/*para que no se vea la scrollbar*/
body::-webkit-scrollbar {
    display: none;
}

/*NAV BAR*/
.logo-nav-bar {
    margin-left: 6vw;
}

/*para que los items queden a la izquierda*/
#navbarNavDropdown {
    flex-grow: 0 !important;
    margin-right: 5vw;
}

.btn-nav-bar {
    margin-right: 2vw;
}

.mejiasrojas{
    color: #38F54E;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

/*HEADER*/

h3{
    text-align: left;
}

p{
    display: inline-block;
}

/*contenedor del texto*/
.descripcion{
    background: #18171E;
    color: #D9D9D9;
    padding: 3vw 0 3vw 7vw;
}

/*arregla el espacio del menu hamburguesa*/
.navbar-nav .nav-link {
    padding: 1vw 0 1vw 6vw;
}

#btn-contacto{
    background-color: #2aad30;
    padding: 0 2vw;
    border-radius: 0.1vw;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bolder;
}

#btn-contacto:hover {
    background: none;
    color: #D9D9D9;
    transition: 400ms;
}

/*arregla el color del botón contacto*/
.navbar-dark .navbar-nav .nav-link{
    color: #ffff;
}

.navbar-nav .nav-link  #btn-contacto {
    font-weight: bold;
}

.saludo{
    margin: 10vw 0 1vw 0;
    font-size: 3vw;
    font-weight: 400;
}

.skills{
    text-align: left;
    margin-bottom: 1vw;
    color: #38F54E;
    font-size: 3.5vw;
    font-weight: bolder;
    font-family: "Chakra Petch", sans-serif;
}

.textodescripcion{
    display: inline-block;
    text-align: left;
    font-weight: 100;
    font-size: 1.2vw;

}

.avatar01 {
    margin-top: 10vw;
    width: 37%;
}

.botones-contacto {
    margin-top: 7vw;
}

#btn-cv{
    background: #2aad30;
    color: #D9D9D9;
    font-weight: bold;
    font-size: 2vw;
    margin-right: 1vw;
    padding: 0.5vw 5vw 0.5vw 5vw;
    border-radius: 0.1vw;
}

#btn-cv:hover{
    background: none;
    color: #D9D9D9;
    border-color: #D9D9D9;
    transition: 400ms;
}

#btn-linkedin{
    background: none;
    box-shadow:inset 0px 0px 0px 0.12rem #38F54E;
    color: #D9D9D9;
    font-weight: bold;
    font-size: 2vw;
    margin-right: 1vw;
    padding: 0.5vw 3vw 0.5vw 3vw;
    border-radius: 0.1vw;
}

#btn-linkedin:hover{
    border-color: #D9D9D9;
    color: #D9D9D9;
    transition: 400ms;
    box-shadow:inset 0 0 0 0 #2aad30;
}

/*CUERPO DE HOME*/

.cuerpo {
    background: #D9D9D9;
}

.fondodifuminado01{
    background-image: linear-gradient(to bottom, #18171e, #0c1226);
    padding-top: 5vw;
}

.tituloabtme{
    text-align: center;
    color: #38F54E;
    margin-bottom: 0;
    font-size: 3rem;
    font-family: "Chakra Petch", sans-serif;
}

.titulo-roadmap{
    text-align: center;
    color: #D9D9D9;
    margin-bottom: 0;
    font-size: 3rem;
    font-family: "Chakra Petch", sans-serif;
}

.tarjetas {
    padding-top: 3vw;
    width: 100%;
    padding: 5vw 5vw;
    background: #0C1226;
}

.tarjeta h3 {
    text-align: center;
    color: #38F54E;
    margin-top: 1vw;
    margin-bottom: 1vw;
    text-transform: uppercase;
    font-family: "Chakra Petch", sans-serif;
}

.tarjeta:hover h3{
    font-size: 2em;

}

.tarjeta {
    /*texto*/
    color: #D9D9D9;
    text-align: center;
    /*fondo*/
    background-color: #21252D;
    border: 2px solid #18171E;
    /*display*/
    margin: 0 2.5%;
    margin-bottom: 5%;
    padding: 3vw 2vw;
    border-radius: 0.5vw;
}

.tarjeta:hover{
    border-color: #38F54E;
    box-shadow: 0 0px 32px 0 #2aad30;
}

.texto-tarjeta{
    text-align: justify;
}

.colegio{
    margin-top: 0.7vw;
    margin-bottom: 0.6vw;
}

.resaltarinstitucion{
    font-weight: bolder;
}

.footer{
    padding: 5vw 7vw 0 7vw;
    background-color: #21252D;
    width: 100%;
    color: #D9D9D9;
    font-weight: 500;
}

.photo-footer{
    display: block;
    width: 7vw;
    margin-top: 1em;
}

.nombre-footer{
    font-size: large;
    font-family: "Chakra Petch", sans-serif;
}

.sub-titulo-footer{
    color: #38F54E;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 2em;
    font-size: large;
}

.links-footer{
    color: #D9D9D9;
    font-weight: 500;
    text-decoration: none;
}

.links-footer:hover{
    color: #2aad30;
}

.div-copyright{
    margin-top: 3vw;
    color: #D9D9D9;
}

.copyright{
    margin: 0 0 2vw 0;
    font-size: smaller;
    width: 100%;
    text-align: center;
    color: #D9D9D9;
}

/*ESTILO HOJA CONTACTO*/

.titulo-h1{
    padding: 3vw 0;
    font-size: 3rem;
    font-weight: bolder;
    font-family: "Chakra Petch", sans-serif;
}


.contacto-cuerpo{
    margin: 0 0 2vw 0;
}

.formulario-contacto{
    height: 100%;
}

.sub-titulo-contacto{
    font-family: "Chakra Petch", sans-serif;
    font-size: 2em;
    font-weight: bold;
}

.texto-informativo-contacto{
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
}

.texto-informativo-primer-texto{
    margin-bottom: 3rem;
    font-family: "Chakra Petch", sans-serif;
    font-weight: bold;
}

.mensaje-exito{
    display: none;
}

.mensaje-exito p {
    margin-bottom: 0;
}

.mensaje-error{
    display: none;
}

.mensaje-error p {
    margin-bottom: 0;

}

/* COMISIONES */

/*este selector se agregó para los titulos que deberían estár en verde*/

h1.titulo-h1-1 {
    padding: 3vw 0;
    margin-bottom: 0;
    font-size: 3rem;
    font-weight: bolder;
    background-color: #21252D;
    color: #38F54E;
    font-family: "Chakra Petch", sans-serif;
}

.comisiones{
    display: flex;
    flex-direction: column;
    padding: 3vw 7vw;
}

.comisiones .comision img {
    height: 20vw;
}

.comision{
    border: 1px solid #0c1226;
    padding: 2vw;
    margin-bottom: 3vw;
}

.comision:hover{
    border-color: #38F54E;
    box-shadow: 0 0px 32px 0 #2aad30;
}

.caja1{
    display: flex;
    justify-content: space-around;
    background-color: #21252D;
    color: #D9D9D9;
    border-radius: 1vw;
}

.caja2{
    display: flex;
    justify-content: space-around;
    background-color: #21252D;
    color: #D9D9D9;
    border-radius: 1vw;
}
.caja3{
    display: flex;
    justify-content: space-around;
    background-color: #21252D;
    color: #D9D9D9;
    border-radius: 1vw;
}

.sub-titulo-comisiones{
    font-family: "Chakra Petch", sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #38F54E;
}

/* PÁGINA PROYECTOS */

/*para el menú del navbar*/
.dropdown-menu{
    opacity: 0.7;
}

.video{
    width: 50%;
}

/* RESPONSIVIDAD DE LA PÁGINA */

/**/
@media screen and (max-width:480px){
    
    .navbar-nav .nav-link {
        padding: 1vw 0 1vw 11vw;
    }

    #btn-contacto{
        display: inline;
        background-color: #2aad30;
        padding: 0;
        border-radius: 0.1vw;
        font-family: "Chakra Petch", sans-serif;
        font-weight: bold;
    }

    .saludo{
        margin: 10vw 0 1vw 0;
        font-size: 1rem;
        font-weight: 400;
    }
    
    .skills{
        text-align: left;
        margin-top: 3vh;
        margin-bottom: 1vw;
        color: #38F54E;
        font-size: 1.8em;
        font-weight: bolder;
        font-family: "Chakra Petch", sans-serif;
    }

    .textodescripcion{
        display: none;
    }
    
    .avatar01 {
        display: none;
    }

    .botones-contacto{
        width: fit-content;
    }

    #btn-cv{
        display: block;
        font-size: 1rem;
        margin-bottom: 2vh;
        padding: 1vh;
        border-radius: 0.1vw;
    }
    
    #btn-linkedin{
        display: block;
        box-shadow:none;
        border-color: #38F54E;
        font-size: 1rem;
        padding: 1vh 5vh;
        border-radius: 0.1vw;
        margin-bottom: 1rem;
    }

    .tituloabtme {
        font-size: 2rem;
    }

    .tarjeta {
        padding: 3vw 10vw;
        width: fit-content;
    }

    .nombre-footer{
        margin: 1em 0 0 3vw;
        display: block;
    }

    .photo-footer{
        display: inline-block;
        width: 15vh;
        margin: 1em 0 1em 3vw;
    }

    div ul li{
        margin-left: -5vw;
        list-style-type: none;
    }

    .titulo-h1{
        margin-top: 4vh;
    }

    .contacto-cuerpo{
        margin: 4vh 4vw 4vh 4vw;
    }

    .comisiones{
        padding-top: 3vh;
    }

    .comisiones .comision img {
        display: none;
    }

    .caja1{
        justify-content: left;
        padding: 2vh;
    }
    .caja2{
        justify-content: left;
        padding: 2vh;
    }
    .caja3{
        justify-content: left;
        padding: 2vh;
    }

    .dropdown-menu{
        margin-left: 3rem;
        padding-left: 1rem;
        margin-bottom: 0.5rem;
    }

    .texto-grande p {
        margin-top: 1rem;
    }
    .video {
        display: none;
    }

}

/* PARA LA TORRE */
@media only screen and (min-width: 980px) {

    .texto-grande{
        font-size: xx-large;
        text-align: center;
        padding: 2rem;
    }

    .texto-grande li{
        text-align: left;
    }

    .texto-grande p {
        text-align: left;
    }
}